@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/***********************
        GENERICS 
 ***********************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ********* CUSTOM PROPS */

:root {
    --aside-color: #000000;
    --main-color: #141922;
    --player-color: #282828;
    --text-color: white;
    --subtitle-color: #7B7D82;
    --border-color: #ADFF2F;
    --trasparent-color: rgb(0, 0, 0, 0.7);
}

.padding {
    padding-left: 1.75rem;
}

.flex {
    display: flex;
    align-items: center;
}

.hover:hover {
    cursor: pointer;
    color: white;
    border-left: 3px solid var(--border-color);
}

/*******************************
MAIN
*********************************/

#main {
    display: flex;
    height: calc(100vh - 80px);
}

.trasparent_bar {
    height: 100px;
    background-color: var(--trasparent-color);
    position: sticky;
    top: 0;
    text-align: end;
    line-height: 100px;
}

/* ASIDE */

.aside_bar {
    width: 230px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    color: var(--subtitle-color);
    background-color: var(--aside-color);
}

.logo {
    padding-left: 1.75rem;
}

.logo img {
    width: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo_small {
    display: none;
}

.aside_options {
    line-height: 2.5rem;
    font-size: 13px;
}

.padding > i {
    font-size: 1.5rem;
    display: block;
}

.text {
    padding-left: 0.5rem;
}

.aside_bar h3 {
    color: white;
    font-size: 16px;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.aside_options .home {
    border-left: 3px solid var(--border-color);
    color: white;
}

.create:hover {
    cursor: pointer;
    color: white;
}

.padding .fa-square-plus {
    font-size: 40px;
}

.name_playlist {
    font-size: 13px;
    line-height: 2rem;
}

.aside_bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.download {
    cursor: pointer;
    font-size: 13px;
}

.download:hover {
    color: white;
}

hr {
    margin: 1rem 1.75rem 1rem 0;
    color: var(--player-color);
}

.img_profile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--subtitle-color);
    object-fit: cover;
    overflow: hidden;
}

.profile {
    display: flex;
    padding-bottom: 0.5rem;
}

.profile img {
    width: 100%;
}

.profile span {
    margin-left: 0.5rem;
}


/* MAIN-MENU */

.main_menu {
    flex-grow: 1;
    background-color: var(--main-color);
    overflow: auto;
}


.btn {
    cursor: pointer;
    margin-right: 5px;
    background-color: transparent;
    color: white;
    padding: 1rem 3rem;
    border-radius: 25px;
    border: 1px solid white;
}

.btn:hover {
    transform: scale(1.02);
}

.content_menu {
    padding: 1rem;
    height: calc(100% - 80px);
    color: var(--subtitle-color);
}

.sections_bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 12px;
}

.hover_bottom {
    width: 40%;
    height: 2px;
    margin: 0.15rem auto;
    background-color: var(--main-color);
}

.name_section:hover {
    cursor: pointer;
    color: white;
}

.sections:hover .hover_bottom {
    background-color: var(--border-color);
}

.active_border {
    background-color: var(--border-color);
}

.active_hover {
    color: white;
}

.recently_playlist {
    padding-top: 2rem;
}

.playlist_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}

.playlist {
    width: calc(100% / 6 - 1rem);
}

.playlist img {
    width: 100%;
}


.playlist h3,
.playlist h4 {
    text-align: center;
    font-size: 10px;
}

.playlist h3 {
    color: white;
    font-size: 13px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.content_menu h2 {
    color: white;
    padding-top: 2rem;
}

.content_menu h4 {
    font-size: 10px;
}

.img_container {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container img:hover {
    filter: brightness(0.5);
}

.img_container i {
    display: none;
    position: absolute;
    font-size: 50px;
    color: white;
}

.img_container:hover .fa-circle-play {
    display: block;
}

.popular_artist img {
    border-radius: 50%;
}

/********************************
FOOTER
********************************* */

#footer {
    position: sticky;
    z-index: 1;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: var(--player-color);
}

.name {
    width: 30%;
    display: flex;
    padding: 1.25rem 0.5rem;
}

.name img {
    width: 40px;
}

.song {
    padding-left: 0.5rem;
    align-self: center;
    margin-right: 2rem;
}

.title {
    color: white;
}

.subtitle {
    cursor: pointer;
    color: var(--subtitle-color);
}

.subtitle:hover {
    color: white;
}

.name_icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--subtitle-color);
}

.name_icon div:hover {
    color: white;
}

.player {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.player_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    font-size: 1rem;
    height: 50%;
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
}

.player_icon i {
    cursor: pointer;
}

.fa-circle-play {
    font-size: 2rem;
}

.player_icon .fa-circle-play:hover {
    transform: scale(1.1);
}

.player_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 50%;
    color: white;
}

.bar {
    width: 70%;
    height: 5px;
    border-radius: 25px;
    background-color: var(--subtitle-color);
}

.bar:hover .bar.small,
.sound_bar:hover .sound_bar.small {
    background-color: var(--border-color);
}

.bar:hover .circle {
    display: block;
}

.bar.small {
    position: relative;
    width: 15%;
    background-color: white;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: -2.5px;
    display: none;
}

.sound_bar:hover .sound {
    display: block;
    bottom: -3.5;
}

.setting {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    gap: 1rem;
    padding: 1.25rem 0.5rem;
}

.brightness:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.sound_bar {
    width: 100px;
    height: 3px;
    border-radius: 25px;
    background-color: var(--subtitle-color);
}

.sound_bar .small {
    position: relative;
    width: 25px;
    height: 3px;
    background-color: white;
}

/*********************************
TABLET L
**********************************/
@media screen and (max-width: 878px) {
    .playlist {
        width: calc(100% / 4 - 1rem);
    }
}

/*********************************
MOBILE S
**********************************/
@media screen and (max-width: 639px) {
    .name_icon {
        display: block;
    }

    .song {
        margin-right: 10px;
    }

    .setting {
        gap: 0.5rem;
    }

    .playlist {
        width: calc(100% / 2 - 1rem);
    }
}


/*********************************
MOBILE XS
**********************************/

@media screen and (max-width: 546px) {
    .aside_bar {
        width: 60px;
    }

    .logo {
        display: none;
    }

    .logo_small {
        display: block;
        padding: 0.75rem;
    }

    .padding {
        padding: 0.5rem 0.75rem;
    }

    .flex {
        justify-content: center;
    }

    .text {
        display: none;
    }

    .aside_bar h3 {
        display: none;
    }

    .create {
        display: none;
    }

    .name_playlist {
        display: none;
    }

    .aside_bottom {
        align-items: center;
    }

    .download {
        padding-bottom: 2rem;
    }

    .img_profile {
        width: 30px;
        height: 30px;
    }

    .download span {
        display: none;
    }

    hr {
        display: none;
    }

    .profile span {
        display: none;
    }
}